---
interface Props {
    name: string,
    title: string,
    isRequired: boolean,
    pattern?: string,
    placeholder?:string

}

const {name, title, isRequired, pattern, placeholder} = Astro.props
const nameUpper = name.toUpperCase()
---

<div class="flex flex-col">
    <label class="font-bold text-grey text-xs pb-1" for={name}>{nameUpper}</label>
    <input class="w-[87px] h-[54px] rounded-lg border border-line outline-purple p-3 caret-purple" placeholder={placeholder} type="number" name={name} title={title} required={isRequired} pattern={pattern} />
  </div>